html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url(media/Background.jpg);
    background-size: cover;
    backdrop-filter: blur(.5px) brightness(75%);
 }
 .header{
    height: 100%;
    color: white;
    position: relative;
 }
 img{
    height: 10%;
    padding: 3%;
 }
 h1{
    font-family: 'Dancing Script', cursive;
 }
 li{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
 }
 ul{
    list-style: none;
 }
 .images{
    filter: drop-shadow(.1rem .1rem white);
    margin: 0rem 1rem 5rem 1rem;
 }
 .UC1{
    filter: drop-shadow(.1rem .1rem #d4b012);
 }
 .UC2{
    filter: drop-shadow(.1rem .1rem #003262);
 }
 #logo{
     position: absolute;
     height: 25rem;
    left: 0%;
    top: -184%;
 }
 